@model AquaparkWebApplication1.Models.Slide

@{
    ViewData["Title"] = "Створення гірки";
}

<h1>Створити локацію</h1>

<h4>Гірка</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.SlideId" asp-for="SlideId" />
            <div class="form-group">
                <label asp-for="SlideMinHeight" class="control-label"></label>
                <input asp-for="SlideMinHeight" class="form-control" />
                <span asp-validation-for="SlideMinHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideMaxHeight" class="control-label"></label>
                <input asp-for="SlideMaxHeight" class="form-control" />
                <span asp-validation-for="SlideMaxHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideMaxWeight" class="control-label"></label>
                <input asp-for="SlideMaxWeight" class="form-control" />
                <span asp-validation-for="SlideMaxWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideMaxPeople" class="control-label"></label>
                <input asp-for="SlideMaxPeople" class="form-control" />
                <span asp-validation-for="SlideMaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideMinAge" class="control-label"></label>
                <input asp-for="SlideMinAge" class="form-control" />
                <span asp-validation-for="SlideMinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideHighestPoint" class="control-label"></label>
                <input asp-for="SlideHighestPoint" class="form-control" />
                <span asp-validation-for="SlideHighestPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlideName" class="control-label"></label>
                <input asp-for="SlideName" class="form-control" />
                <span asp-validation-for="SlideName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlidePrice" class="control-label"></label>
                <input asp-for="SlidePrice" class="form-control" />
                <span asp-validation-for="SlidePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку горок</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
