@model AquaparkWebApplication1.Models.Hall

@{
    ViewData["Title"] = "Створення хола";
}

<h1>Додати локацію</h1>

<h4>Хол</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.HallId" asp-for="HallId" />
            @*<div class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <input asp-for="HallId" class="form-control" />
                <span asp-validation-for="HallId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PoolsMaxDepth" class="control-label"></label>
                <input type="number" step="any" asp-for="PoolsMaxDepth" class="form-control" />
                <span asp-validation-for="PoolsMaxDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolsMinDepth" class="control-label"></label>
                <input type="number" step="any" asp-for="PoolsMinDepth" class="form-control" />
                <span asp-validation-for="PoolsMinDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallMaxPeople" class="control-label"></label>
                <input asp-for="HallMaxPeople" class="form-control" />
                <span asp-validation-for="HallMaxPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallPrice" class="control-label"></label>
                <input asp-for="HallPrice" class="form-control" />
                <span asp-validation-for="HallPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку холів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
