@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Tickets" asp-action="Index">Квитки</a><br><br>
    <a asp-controller="Slides" asp-action="Index">Гірки</a><br><br>
    <a asp-controller="Halls" asp-action="Index">Холи</a><br><br>
    <a asp-controller="Visitors" asp-action="Index">Відвідувачі</a><br><br>
</div>
