@model AquaparkWebApplication1.Models.Pool

@{
    ViewData["Title"] = "Create";
}

<h1>Adding a pool to hall @ViewBag.HallId</h1>

<h4>Pool</h4>
<hr />
<div>@ViewBag.ErrorString</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@ViewBag.PoolId" asp-for="PoolId" />
            <div class="form-group">
                <label asp-for="PoolDepth" class="control-label"></label>
                <input type="number" step="any" asp-for="PoolDepth" class="form-control" />
                <span asp-validation-for="PoolDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolMinHeight" class="control-label"></label>
                <input asp-for="PoolMinHeight" class="form-control" />
                <span asp-validation-for="PoolMinHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterType" class="control-label"></label>
                <input asp-for="WaterType" class="form-control" />
                <span asp-validation-for="WaterType" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Hall" class="control-label"></label>
                <input asp-for="Hall" class ="form-control" />
            </div>*@

            <input type="hidden" value="@ViewBag.HallId" name="Hall" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Halls">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
