@model AquaparkWebApplication1.Models.Pool

@{
    ViewData["Title"] = "Редагування локації";
}

<h1>Редагувати локацію</h1>

<h4>Басейн</h4>
<hr />
<div>@ViewBag.ErrorString</div>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PoolId" />
            <div class="form-group">
                <label asp-for="PoolDepth" class="control-label"></label>
                <input asp-for="PoolDepth" class="form-control" />
                <span asp-validation-for="PoolDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolMinHeight" class="control-label"></label>
                <input asp-for="PoolMinHeight" class="form-control" />
                <span asp-validation-for="PoolMinHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterType" class="control-label"></label>
                <input asp-for="WaterType" class="form-control" />
                <span asp-validation-for="WaterType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Hall" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку басейнів</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
