@model AquaparkWebApplication1.Models.Ticket

@{
    ViewData["Title"] = "Створення квитка";
}

<h1>Створити квиток</h1>

<hr />
<div>@ViewBag.ErrorString</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="TicketId" class="control-label"></label>
                <input asp-for="TicketId" class="form-control" />
                <span asp-validation-for="TicketId" class="text-danger"></span>
            </div>*@
            <input type="hidden" value="@ViewBag.TicketId" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="LocationHall" class="control-label"></label>
                <select asp-for="LocationHall" class="form-control" asp-items="ViewBag.LocationHall" id="hallSelector"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationSlide" class="control-label"></label>
                <select asp-for="LocationSlide" class="form-control" asp-items="ViewBag.LocationSlide" id="slideSelector"></select>
            </div>
            <div class="form-group">
                <label asp-for="LocationType" class="control-label"></label>
                <select asp-for="LocationType" class ="form-control" asp-items="ViewBag.LocationType" id="typeSelector"></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketOwner" class="control-label"></label>
                <select asp-for="TicketOwner" class ="form-control" asp-items="ViewBag.TicketOwner"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" step="any" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку квитків</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $('#typeSelector').focusout(function () {
            if ($('#typeSelector').val() == 'hall') {
                $('#slideSelector').attr('disabled', true);
                $('#hallSelector').attr('disabled', false);
            }
        });

        
        $('#typeSelector').focusout(function () {
            if ($('#typeSelector').val() == 'slide') {
                $('#hallSelector').attr('disabled', true);
                $('#slideSelector').attr('disabled', false);
            }
        });

    </script>
}
